<?xml version='1.0' encoding='utf-8'?>
<plugin 
	id="com.vodafone.networkoperator"
	version="0.0.1" 
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	 <name>NetworkOperator</name>
	 <DESCRIPTION>Sirve para poder recuperar el operador</DESCRIPTION>
	 
	 <js-module name="NetworkOperator" src="www/networkoperator.js">
		<clobbers target="networkoperator" />
	 </js-module>
	 
	 <platform name="android">
	 
			<config-file target="res/xml/config.xml" parent="/*">
				<feature name="NetworkOperator">
					<param name="android-package" value="com.vodafone.networkoperator.NetworkOperator"/>
				</feature>
			</config-file>
			
			<config-file target="AndroidManifest.xml" parent="/*">
				<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
				<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			</config-file>

			<source-file src="src/android/NetworkOperator.java" target-dir="src/com/vodafone/networkoperator" /> 
	 </platform>
 </plugin>
